.oneFrame {
  position: relative;
}

.oneFrameSub {
  position: absolute;
  top: 30px;
  left: 25px;
}
.titleFrame {
  font-size: 40px;
  font-weight: bold;
}

.subTitleFrame {
  font-size: 24px;
}

.h1 {
  margin: 30px 0;
}

.buttonTag {
  padding: 10px 18px 10px 40px;
  border-radius: 40px;
  background: linear-gradient(90deg, #AF35FF -3.26%, #FF5AB6 46.82%, #FEA597 100%);
  color: #FFFFFF;
  font-size: 20px;

  position: relative;
}

.stars {
  position: absolute;
  bottom: 5px;
  left: 15px;
}

.wrapMeet {
  border: 1px solid #F2F2F2;
  padding: 24px;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 10px;
}

.tag {
  background-color: #31BBF2;
  padding: 10px 16px;
  color: white;
  border-radius: 40px;
}

.tag2 {
  background-color: #FB814D;
  padding: 10px 16px;
  color: white;
  border-radius: 40px;
  margin-right: 20px;
}

.img {
  padding-left: 10px;
}

.ul {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 20px 0 0 0;
}

.li {
  background-color: #292929;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-bottom: 20px;

  position: relative;
}

.liGray {
  background-color: #F2F2F2;
  color: grey;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-bottom: 20px;

  position: relative;
}

.number {
  position: absolute;
  font-size: 20px;
  top: 8px;
  left: 14px;
}

.line {
  position: absolute;
  top: -2px;
  left: 40px;

  height: 4px;
  background-color: #F2F2F2;
  margin: 20px 0;
  width: 206px;
}

.onMeet {
  padding: 10px 16px;
  background-color: #22292F;
  border-radius: 40px;
  color: white;
}

.section1 {
  font-size: 16px;
}

.section2 {
  position: relative;
  font-size: 16px;
  width: 150px;
  left: 5px;
  top: 60px;
  color: black;
}

.section3 {
  position: relative;
  width: 150px;
  font-size: 16px;
  left: 5px;
  top: 60px;
}

.section4 {
  position: relative;
  width: 180px;
  font-size: 16px;
  left: 5px;
  top: 60px;
}

.section5 {
  position: relative;
  font-size: 16px;
  left: 10px;
  top: 60px;
}
