.dialogMenu {
    /*height: 72px;*/
    max-height: 300px;
    padding: 16px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: end;
    border-radius: 40px;
    background-color: var(--color-surface-0);
}

.playBtn {
    display: flex;
    align-items: center;
}

.warn {
    padding: 0 6px 6px;
}

.feedback {
    box-sizing: border-box !important;
    border-radius: 20px !important;
    padding: 4px 12px !important;
}